* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "chakra", sans-serif;
  cursor: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Slider */

body::-webkit-scrollbar {
  width: 0vw;
  display: none;
}

/* Fonts */

@font-face {
  font-family: styleFont;
  src: url(Assets/Bythemis\ Quertas\ Personal\ Use.ttf);
}

@font-face {
  font-family: gilroy;
  src: url(Assets/Gilroy-Medium.ttf);
}

@font-face {
  font-family: kajiro;
  src: url(Assets/Kajiro\ Bold.ttf);
}

@font-face {
  font-family: chakra;
  src: url(Assets/ChakraPetch-Medium.ttf);
}

/* selection */

::selection {
  color: red;
  background-color: white;
  mix-blend-mode: difference;
}

/* Container Starts */

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Cursor */

#container #cursor {
  width: 2.5vw;
  height: 2.5vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  outline: 0.0025vw solid white;
  z-index: 8;
}

#cursor #cursorDot {
  width: 0.25vw;
  height: 0.25vw;
  border-radius: 50%;
  background-color: white;
}

/* First Page */

#container #landingPage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* landing page nav */

#landingPage nav {
  width: 100%;
  height: 15%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 100;
  margin-top: 0.5vw;
}

nav #navContainer {
  width: 97%;
  height: 50%;
  display: flex;
  overflow: hidden;
}

#navContainer #leftSection {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.25);
}

#leftSection #leftSectionBox {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0.25vw 0vw 0.85vw white;
}

#leftSectionBox span {
  color: black;
  font-size: 1.75vw;
  font-weight: 900;
  font-family: "chakra";
}

#leftSection h1 {
  opacity: 0;
  color: White;
  font-size: 1.25vw;
  font-weight: 100;
  letter-spacing: 0.25vw;
  text-transform: uppercase;
  margin-left: 2.75vw;
  font-family: "chakra";
  text-shadow: 0vw 0.15vw 0.95vw white, 0vw -0.15vw 0.95vw white;
}

#navContainer #secondSection {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  overflow-y: hidden;
  box-shadow: inset -16px 7px 75px -47px rgba(255, 255, 255, 1);
}

#secondSection:hover a {
  color: black;
  text-shadow: 0vw 0.15vw 0.95vw rgba(0, 0, 0, 0.6),
    0vw -0.15vw 0.95vw rgba(0, 0, 0, 0.6);
}

#secondSection:hover P {
  color: black;
}

#secondSection::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 100%;
  position: absolute;
  mix-blend-mode: difference;
  background-color: white;
  transition: all ease 0.4s;
  z-index: -9;
}

#secondSection:hover::after {
  top: 0%;
}

#secondSection a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 0.85vw;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0vw 0.15vw 0.95vw rgba(255, 255, 255, 0.6),
    0vw -0.15vw 0.95vw rgba(255, 255, 255, 0.6);
}

#secondSection p {
  color: white;
  font-size: 0.5vw;
  font-weight: 400;
  position: absolute;
  left: 2%;
  bottom: 10%;
}

#navContainer #thirdSection {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  overflow-y: hidden;
  box-shadow: inset -16px 7px 75px -47px rgba(255, 255, 255, 1);
}

#thirdSection:hover a {
  color: black;
  text-shadow: 0vw 0.15vw 0.95vw rgba(0, 0, 0, 0.6),
    0vw -0.15vw 0.95vw rgba(0, 0, 0, 0.6);
}

#thirdSection:hover P {
  color: black;
}

#thirdSection::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 100%;
  position: absolute;
  mix-blend-mode: difference;
  background-color: white;
  transition: all ease 0.4s;
  z-index: -9;
}

#thirdSection:hover::after {
  top: 0%;
}

#thirdSection a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 0.85vw;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0vw 0.15vw 0.95vw rgba(255, 255, 255, 0.6),
    0vw -0.15vw 0.95vw rgba(255, 255, 255, 0.6);
}

#thirdSection p {
  color: white;
  font-size: 0.5vw;
  font-weight: 400;
  position: absolute;
  left: 2%;
  bottom: 10%;
}

/* landingPage Main */

#landingPage main {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: #111111c4;
}

main #mainContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

#mainContainer #page1 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1 h1 {
  color: black;
  font-size: 15vw;
  font-weight: 200;
  letter-spacing: 1vw;
  text-transform: uppercase;
  z-index: 10;
  -webkit-text-stroke: 1px gray;
}

#page1 h1::before {
  content: "Aditya";
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14.5vw;
  font-weight: 200;
  letter-spacing: 1vw;
  text-transform: uppercase;
}

/* Main Page 2 */

#mainContainer #page2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

#page2Container {
  width: 90%;
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2Container h1 {
  color: black;
  font-size: 15vw;
  font-weight: 200;
  letter-spacing: 1vw;
  text-transform: uppercase;
  z-index: 10;
  -webkit-text-stroke: 1.5px white;
}

#page2Container h2 {
  color: white;
  font-size: 5vw;
  font-weight: 200;
  letter-spacing: 1vw;
  text-transform: uppercase;
  position: absolute;
  padding-top: 12vw;
  z-index: 10;
}

/* Main Bg */

main #mainBg {
  /* opacity: 0.25; */
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainBg .boxElem {
  width: 33.35%;
  height: 100%;
  position: relative;
}

#mainBg #boxElemMiddle {
  width: 62.75%;
  height: 100%;
  display: flex;
}

#boxElemMiddle .middleBoxElem {
  width: 50%;
  height: 100%;
  position: relative;
  border-left: 0.0025vw solid rgba(255, 255, 255, 0.5);
  border-right: 0.0025vw solid rgba(255, 255, 255, 0.5);
}

.middleBoxElem #middleBottom {
  width: 100%;
  height: 10%;
  position: relative;
  top: 90%;
  background: url(Assets/Lines.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* landingPage Bg */

#landingPage #landingPageBg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -9;
}

#landingPageBg img,
video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  scale: 1.15;
}

/* Landingpage responsive */

@media (max-width: 600px) {
  #leftSection h1 {
    font-size: 3.25vw;
  }

  #leftSection #leftSectionBox {
    width: 20%;
  }

  #leftSectionBox span {
    font-size: 3.75vw;
  }

  #secondSection a {
    font-size: 2.5vw;
  }

  #thirdSection a {
    font-size: 2.5vw;
  }

  #secondSection p {
    display: none;
  }

  #thirdSection p {
    display: none;
  }

  #mainContainer h1 {
    font-size: 20vw;
  }

  #mainContainer h1::before {
    font-size: 19.5vw;
  }
}

/* Second Page */

#container #secondPage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#secondPage #secondPageBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9;
  background-image: url(Assets/iron\ man\ full\ suit.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  scale: 1.2;
}