* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "chakra", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Slider */

body::-webkit-scrollbar {
  width: 0.25vw;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* Fonts */

@font-face {
  font-family: styleFont;
  src: url(Assets/Bythemis\ Quertas\ Personal\ Use.ttf);
}

@font-face {
  font-family: gilroy;
  src: url(Assets/Gilroy-Medium.ttf);
}

@font-face {
  font-family: kajiro;
  src: url(Assets/Kajiro\ Bold.ttf);
}

@font-face {
  font-family: chakra;
  src: url(Assets/ChakraPetch-Medium.ttf);
}

/* selection */

::selection {
  color: red;
  background-color: white;
  mix-blend-mode: difference;
}

/* Container Starts */

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* cursor */

#container #cursor {
  width: 2.5vw;
  height: 2.5vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  outline: 0.0025vw solid white;
}

#cursor #cursorDot {
  width: 0.25vw;
  height: 0.25vw;
  border-radius: 50%;
  background-color: white;
}

/* landingPage */

#container #landingPage {
  width: 100%;
  height: 200vh;
  position: relative;
}

#landingPage header {
  width: 100%;
  height: 5.5vw;
  position: fixed;
  z-index: 9;
  padding: 1.5vw 1.25vw 0vw 1.25vw;
  background-color: transparent;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

nav #navLeft {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
}

#navLeft #leftLogo {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  box-shadow: 0.25vw 0vw 0.85vw white;
}

#navLeft #leftLogo span {
  color: black;
  font-size: 1.75vw;
  font-weight: 900;
  font-family: "chakra";
}

#navLeft p {
  opacity: 0;
  color: White;
  font-size: 1.5vw;
  font-weight: 100;
  font-family: "chakra";
  letter-spacing: 0.25vw;
  text-transform: uppercase;
  margin-left: 2.75vw;
  text-shadow: 0vw 0.15vw 0.95vw white, 0vw -0.15vw 0.95vw white;
}

nav #navRight {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}

#navRight .rightBox {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

#navRight .rightBox:hover::after {
  top: 0%;
}

#navRight .rightBox::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  mix-blend-mode: difference;
  transition: all ease 0.4s;
  background-color: white;
}

.rightBox h2 {
  font-weight: 700;
  font-size: 1.25vw;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0vw 0.15vw 0.95vw rgba(255, 255, 255, 0.6), 0vw -0.15vw 0.95vw rgba(255, 255, 255, 0.6);
}

.rightBox p {
  color: white;
  font-size: 0.5vw;
  font-weight: 400;
  position: absolute;
  left: 3.5%;
  bottom: 15%;
}

#navRight #rightFirst {
  border-right: 0.025vw solid rgba(255, 255, 255, 0.1);
  box-shadow: inset -0.5vw 0vw 1vw rgba(255, 255, 255, 0.25);
}

#navRight #rightSecond {
  box-shadow: inset 0.5vw 0vw 1vw rgba(255, 255, 255, 0.25);
  box-shadow: inset -0.5vw 0vw 1vw rgba(255, 255, 255, 0.25);
}

#landingPage #overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background-color: #111111c4;
  box-shadow: inset 0vw 0vw 15vw black;
}

#overlay #overlayCenter {
  width: 48.75%;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 0.025vw solid rgba(255, 255, 255, 0.1);
  border-right: 0.025vw solid rgba(255, 255, 255, 0.1);
}

#overlayCenter #overLine {
  width: 50%;
  height: 100%;
  position: relative;
  border-right: 0.025vw solid rgba(255, 255, 255, 0.15);
}

#overLine img {
  width: 100%;
  position: relative;
  top: 45%;
}

/* firstPage */

#landingPage #firstPage {
  width: 100%;
  height: 100vh;
  position: relative;
}

#firstPage #firstPageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#firstPageContainer h1 {
  color: black;
  font-size: 15vw;
  font-weight: 200;
  letter-spacing: 1vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px gray;
}

#firstPageContainer h1::after {
  content: 'Aditya';
  color: white;
  font-size: 14.5vw;
  font-weight: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px gray;
}

/* firstPageBg */

#firstPage #firstPageBg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#firstPageBg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1.15;
}

/* secondPage */

#landingPage #secondPage {
  width: 100%;
  height: 100vh;
  position: relative;
}

#secondPage #secondPageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#secondPageContainer h1 {
  color: black;
  font-size: 15vw;
  font-weight: 200;
  letter-spacing: 1vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px white;
}

#secondPageContainer h2 {
  color: white;
  position: absolute;
  font-size: 5vw;
  font-weight: 200;
  letter-spacing: 1vw;
  text-transform: uppercase;
  padding-top: 12vw;
}

/* secondPageBg */

#secondPage #secondPageBg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#secondPageBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1.15;
}

/* Responsive of LandingPage */

@media (max-width: 600px) {
  #landingPage header {
    height: 10.5vw;
  }

  #navLeft #leftLogo {
    width: 20%;
  }

  #navLeft #leftLogo span {
    font-size: 2.75vw;
  }

  #navLeft p {
    font-size: 2.5vw;
  }

  .rightBox h2 {
    font-size: 2.25vw;
  }

  .rightBox p {
    opacity: 0;
    display: none;
  }

  #firstPageContainer h1 {
    font-size: 25vw;
  }

  #firstPageContainer h1::after {
    font-size: 24.5vw;
  }

  /* secondPage */

  #secondPageContainer h1 {
    font-size: 17vw;
  }

  #secondPageContainer h2 {
    font-size: 7vw;
  }
}

/* aboutPage*/

#container #about {
  width: 100%;
  height: 100vh;
  position: relative;
}

#about #aboutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  padding: 7.5vw 10.5vw;
  box-shadow: inset 0vw 0vw 15vw black;
}

#aboutContainer #aboutLeft {
  width: 60%;
  height: 100%;
  display: flex;
  gap: 1vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  padding: 0vw 0.25vw;
}

#aboutLeft #leftTop {
  width: 100%;
}

#leftTop h3 {
  color: white;
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  transition: all ease 0.4s;
}

#leftTop h3:hover {
  color: red;
}

#leftTop span {
  color: red;
  font-size: 3vw;
  font-weight: 700;
  text-transform: uppercase;
  transition: all ease 0.4s;
}

#leftTop h3:hover span {
  color: white;
}

#leftTop h2 {
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
}

#aboutLeft #leftMiddle {
  width: 65%;
}

#leftMiddle p {
  color: white;
  font-size: 1.75vw;
  font-weight: 100;
  text-wrap: nowrap;
}

#aboutLeft #icons {
  padding: 2vw 0vw;
  display: flex;
  gap: 2.5vw;
  align-items: center;
  justify-content: flex-start;
}

#icons a {
  width: 37.5%;
  text-decoration: none;
}

#icons a button {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  text-transform: uppercase;
  background-color: transparent;
  backdrop-filter: blur(8px);
  padding: 0.5vw 1vw;
  border: 0vw;
  transition: all ease 0.65s;
  cursor: pointer;
  box-shadow: inset 0vw 0vw 0.95vw rgba(255, 255, 255, 0.25);
  outline: 0.025vw solid white;
}

#icons a button:hover {
  outline: 0.25vw solid red;
  box-shadow: inset 0vw 0vw 0.95vw rgba(255, 0, 0);
}

#icons a button:hover p {
  color: red;
}

button img {
  width: 15%;
  height: 100%;
}

button p {
  color: white;
  font-size: 1.25vw;
  font-weight: 500;
  transition: all 0.3s linear;
}

#aboutContainer #aboutRight {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

#aboutRight img {
  width: 100%;
  border-radius: 2vw;
  border: 0.5vw solid white;
  animation: aboutRightImg 2s linear infinite alternate;
  transition: all ease 0.65s;
}

#aboutRight img:hover {
  border: 0vw;
  box-shadow: 0vw 0vw 1vw white;
}

/* Img anime */

@keyframes aboutRightImg {
  0% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(2.5%, 2.5%);
  }

  100% {
    transform: translate(5%, 5%);
  }
}

/* aboutBg */

#about #aboutBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  padding: 2.5vw 4.5vw;
  background-color: black;
}

#aboutBg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* about Responsive */

@media (max-width:600px) {
  #about #aboutContainer {
    flex-direction: column;
  }

  #aboutContainer #aboutLeft {
    width: 100%;
    height: 40%;
    order: 1;
    gap: 5vw;
  }

  #aboutContainer #aboutRight {
    width: 80%;
    height: 60%;
  }

  #leftTop h3 {
    font-size: 5vw;
  }

  #leftTop span {
    font-size: 6vw;
  }

  #leftTop h2 {
    font-size: 6.5vw;
  }

  #aboutLeft #leftMiddle {
    width: 90%;
  }

  #leftMiddle p {
    font-size: 4.25vw;
  }

  #aboutLeft #icons {
    gap: 7.5vw;
    justify-content: center;
  }

  #icons a {
    width: 45%;
  }

  #icons a button {
    width: 100%;
  }

  button p {
    font-size: 3.25vw;
  }
}
